button {
    all: unset;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.play-button {
    display: flex;
    width: 255px;
    height: 66px;
    gap: 10px;
    padding: 10px;
    top: 68%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f9ff00;
}

#leaders.text-wrapper,
#play-button.text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.leaders {
    display: flex;
    flex-direction: column;
    height: 139px;
    padding: 0 10px;
    left: 77%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f9ff00;
    z-index: 100;
}

.leaders .leaders-img {
    position: relative;
    width: 89px;
    height: 91px;
    object-fit: cover;
}

.exit-button {
    position: absolute;
    width: 121px;
    height: 121px;
    top: 10%;
    left: 12%;
    z-index: 100;
}

.tetris-icon-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -5%;
}

.tetris-icon {
    position: relative;
    width: 417px;
    height: 417px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.community {
    display: flex;
    width: 279px;
    height: 118px;
    gap: 11px;
    top: 40%;
    left: 72.5%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f9ff00;
}

.community .community-png {
    position: relative;
    width: 81.23px;
    height: 80.09px;
}

#community.text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.icon-park-block-2 {
    position: absolute;
    width: 244px;
    height: 244px;
    top: 51%;
    left: 10%;
}
