table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74%;
    height: 94%;
    border-spacing: 9em 6em;
}

tr {
    text-align: center;
}

td {
    border-radius: 24%;
    font-size: 199%;
    padding: 0;
}

td#completed-level {
    background-color: #00e750;
}

td#completed-level:hover {
    background-color: #47FF87;
}

td#open-level {
    background-color: #faff00;
}

td#open-level:hover {
    background-color: #FDFFA2;
}

td#closed-level {
    background-color: #717271;
}

td#closed-level:hover {
    background-color: #8C8C8C;
}

button {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    font-size: inherit;
    padding: 0;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.icon-back {
    position: absolute;
    width: 4.4%;
    height: 10%;
    top: 9%;
    left: 7%;
}