@font-face {
    font-family: 'Kelly Slab-Regular';
    src: url('fonts/KellySlab-Regular.ttf') format('truetype')
}

.header {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Kelly Slab-Regular", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 64px;
    width: 100%;
}

.header-text-wrapper {
    color: #9df3ff;
    display: inline-block;
}

.span {
    color: #ae29dd;
    display: inline-block;
}

.error-wrapper {
    position: absolute;
    font-size: 28px;
    top: 220px;
    color: red;
}

#login.error-wrapper {
    left: 50%;
    transform: translateX(-50%);
}

#signUp.error-wrapper {
    left: 50%;
    transform: translateX(-50%);
}

.submit-button {
    width: 171px;
    top: 521px;
    left: 43.5%;
    background-color: #1bc700;
    display: flex;
    justify-content: center;
}

.submit-text-wrapper {
    color: #ffffff;
    font-size: 32px;
}

.link-text-wrapper {
    position: absolute;
    top: 78%;
    left: 53%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

input {
    padding: 17px 30px;
    background-color: #d9d9d9;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    border: none;
}

.username {
    position: absolute;
    top: 41%;
}

.password {
    position: absolute;
    top: 58%;
}

input:placeholder-shown {
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 24px;
}