@font-face {
    font-family: 'Kelly Slab-Regular';
    src: url('fonts/KellySlab-Regular.ttf') format('truetype')
}

.header {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Kelly Slab-Regular", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 64px;
    width: 100%;
}

.header-text-wrapper {
    color: #9df3ff;
    display: inline-block;
}

.span {
    color: #ae29dd;
    display: inline-block;
}


button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

button#login {
    top: 50%;
}

button#signUp {
    top: 70%;
}

.overlap-group:hover {
    background: #E9AAFF;
}

.overlap-group {
    position: fixed;
    width: 309px;
    left: 50%;
    transform: translateX(-50%);
    height: 61px;
    border-radius: 50px;
    background: linear-gradient(180deg, rgb(152.99, 0, 206.75) 0%, rgb(207.36, 126.14, 235.9) 100%);
}

.login-text-wrapper {
    position: absolute;
    top: 11px;
    left: 113px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
}

.sign_up-text-wrapper {
    position: absolute;
    top: 11px;
    left: 38px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
}

.icon-park-block {
    position: absolute;
    width: 183px;
    height: 183px;
    top: 66%;
    left: 14%;
}