<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/game_menu.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <button type="button" class="play-button" onclick="location.href='/block_puzzle/level_menu'">
                    <div class="text-wrapper" id="play-button">Play</div>
                </button>
                <button type="button" class="leaders" onclick="location.href='leaders'">
                    <img class="leaders-img" src="/images/leaders.png" alt="leaders-img">
                    <div class="text-wrapper" id="leaders">Leaders</div>
                </button>
                <a href="/block_puzzle/exit">
                    <img class="exit-button" src="/images/exit-button.png" alt="exit-button">
                </a>
                <div class="tetris-icon-wrapper">
                    <img class="tetris-icon" src="/images/tetris-icon.png" alt="tetris-icon">
                </div>

                <!--/*@thymesVar id="userController" type="sk.tuke.gamestudio.server.controller.UserController"*/-->
<!--                th:if="${userController.isUserLoggedIn()}"-->

                <button type="button" class="community" onclick="location.href='/block_puzzle/community'">
                    <img class="community-png" src="/images/community.png" alt="community-img">
                    <div class="text-wrapper" id="community">Community</div>
                </button>
                <img class="icon-park-block-2" src="/images/icon-park-block-2.png" alt="icon-park-img">
            </div>
        </div>
    </body>
</html>