<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/leaders.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
    <!--/*@thymesVar id="leadersController" type="sk.tuke.gamestudio.server.controller.LeadersController"*/-->
    <div class="game">
        <div class="background">
            <section>
                <h1>Leaders</h1>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>RANK</th>
                                <th>USERNAME</th>
                                <th>LEVEL</th>
                                <th>TIME</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0">
                        <tbody th:utext="${htmlLeaders}"></tbody>
                    </table>
                </div>
            </section>
            <div class="laurel">
                <img class="left-laurel" src="/images/left-laurel.png" alt="left-laurel-png">
                <img class="right-laurel" src="/images/right-laurel.png" alt="right-laurel-png">
            </div>
            <a href="/block_puzzle/game_menu">
                <img class="icon-back" src="/images/icon-back.png" alt="icon-back-img">
            </a>
        </div>
    </div>
    </body>
</html>