<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/level_menu.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <form action="/block_puzzle/level_menu" method="post">
                    <table>
                        <tbody th:utext="${htmlLevels}"></tbody>
                    </table>
                </form>
                <a href="/block_puzzle/game_menu">
                    <img class="icon-back" src="/images/icon-back.png" alt="icon-back-img">
                </a>
            </div>
        </div>
    </body>
</html>