<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/login-sign_up.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <div class="header">
                    <span class="header-text-wrapper">Welcome to </span> <span class="span">Block Puzzle</span>
                </div>
                <a href="/block_puzzle/signUp" class="link-text-wrapper">Don't have an account?</a>
                <form action="/block_puzzle/login" method="post">
                    <input class="username" name="username" type="text" placeholder="Username" required>
                    <input class="password" name="password" type="password" placeholder="Password" required>
                    <input class="submit-button submit-text-wrapper" type="submit" value="Login">
                </form>
                <span class="error-wrapper" id="login" th:if="${login_error == 'Bad login or password!'}">Bad login or password!</span>
            </div>
        </div>
    </body>
</html>