<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/play.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <div class="desk">
                    <form action="/block_puzzle/play/hideOrSelectShape" method="post">
                        <table id="field">
                            <tbody th:utext="${htmlField}"></tbody>
                        </table>
                    </form>
                    <form action="/block_puzzle/play/placeShapeOnField" method="post">
                        <table id="shapes">
                            <tbody th:utext="${htmlShapes}"></tbody>
                        </table>
                    </form>
                    <!--/*@thymesVar id="blockPuzzleController" type="sk.tuke.gamestudio.server.controller.BlockPuzzleController"*/-->
                    <form action="/block_puzzle/level_menu/next_level" method="post" th:if="${isSolved}">
                        <button type="submit">
                            <img class="next-level-button" src="/images/next-level.png" alt="next-level-button-png">
                        </button>
                    </form>
                    <button type="button" class="back-button" onclick="location.href='/block_puzzle/level_menu'">
                        <img class="back-button-png" src="/images/back-button.png" alt="back-button-png">
                    </button>
                    <script>
                        document.addEventListener("keydown", function(event) {
                            if (/^[wasd]$/i.test(event.key)) {
                                window.open('/block_puzzle/play/moveShape/'+event.key.toUpperCase(), '_self');
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>