<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/start_menu.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <div class="header">
                    <span class="header-text-wrapper">Welcome to </span> <span class="span">Block Puzzle</span>
                </div>
                <button type="button" id="login" onclick="location.href='block_puzzle/login'">
                    <div class="overlap-group">
                        <div class="login-text-wrapper">Login</div>
                    </div>
                </button>
                <button type="button" id="signUp" onclick="location.href='block_puzzle/signUp'">
                    <div class="overlap-group">
                        <div class="sign_up-text-wrapper">Create account</div>
                    </div>
                </button>

                <img class="icon-park-block"  src="/images/icon-park-block.png">
            </div>
        </div>
<!--<div th:utext="${htmlField}"></div>-->
<!--    <script>-->
<!--        // Додайте обробник події для клавіш-->
<!--        document.addEventListener("keydown", function(event) {-->
<!--            // Виведіть код клавіші в консоль-->
<!--            console.log("Код клавіші:", event.key);-->

<!--            // Приклад: якщо натиснута клавіша "W"-->
<!--            if (event.key === "w") {-->
<!--                console.log("Клавіша W натиснута!");-->
<!--                // Тут можна виконати додаткові дії-->
<!--            }-->
<!--        });-->
<!--    </script>-->
    </body>
</html>