<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/start_menu.css"/>
        <link rel="stylesheet" href="/css/game_menu.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>BlockPuzzle</title>
    </head>
    <body>
        <div class="game">
            <div class="background">
                <div class="header">
                    <span class="header-text-wrapper">Welcome to </span> <span class="span">Block Puzzle</span>
                </div>
                <button type="button" id="login" onclick="location.href='/block_puzzle/login'">
                    <div class="overlap-group">
                        <div class="login-text-wrapper">Login</div>
                    </div>
                </button>
                <button type="button" id="signUp" onclick="location.href='/block_puzzle/signUp'">
                    <div class="overlap-group">
                        <div class="sign_up-text-wrapper">Create account</div>
                    </div>
                </button>

                <button type="button" class="community" onclick="location.href='/block_puzzle/community'" style="top: 30%; left: 1%;">
                    <img class="community-png" src="/images/community.png" alt="community-img">
                    <div class="text-wrapper" id="community">Community</div>
                </button>
                <button type="button" class="leaders" onclick="location.href='/block_puzzle/leaders'" style="top: 7%; left: 5%;">
                    <img class="leaders-img" src="/images/leaders.png" alt="leaders-img">
                    <div class="text-wrapper" id="leaders">Leaders</div>
                </button>

                <img class="icon-park-block"  src="/images/icon-park-block.png">
            </div>
        </div>
    </body>
</html>